colorama==0.4.6
iniconfig==2.3.0
Mesa==3.5.1
networkx==3.6.1
numpy==2.4.4
packaging==26.2
pandas==3.0.3
patsy==1.0.2
pluggy==1.6.0
psutil==7.2.2
pyarrow==24.0.0
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.17.1
six==1.17.0
statsmodels==0.14.6
tqdm==4.67.3
tzdata==2026.2
